---
# Only the main Sass file needs front matter (the dashes are enough)
---

$x-large: 1600;

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.sidebar__right.sticky {
    @include breakpoint($large) {
        right: unset;
        left: 0;
        margin-left: -1 * $right-sidebar-width-narrow;
        margin-right: unset;
        padding-left: unset;
        padding-right: 1em;

        &.sticky {
            float: left;
        }
    }

    @include breakpoint($x-large) {
        margin-left: -1 * $right-sidebar-width;
        margin-right: unset;
    }
}
